{% extends "base.html" %}

{% block pagina %}
<div class="container my-4">
    <h1 class="mb-4">Magias</h1>

<!-- Formulário de filtro -->
<form action="{% url 'filter_magias' %}" method="get" class="mb-4 position-relative">
    <div class="row g-3">
        <div class="col-md-4 position-relative">
            <input type="text" name="nome" class="form-control" placeholder="Filtrar por Nome">
            <ul id="suggestions" class="list-group position-absolute bg-white rounded" style="max-height: 200px; display: none;"></ul>
        </div>
        <div class="col-md-4">
            <select name="escola" class="form-select">
                <option value="">Filtrar por Escola</option>
                {% for escola in escolas %}
                    <option value="{{ escola.id }}">{{ escola.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select name="nivel" class="form-select">
                <option value="">Filtrar por Nível</option>
                {% for nivel in niveis %}
                    <option value="{{ nivel }}">{{ nivel }}</option>
                {% endfor %}
            </select>
        </div>        
        <div class="col-md-4">
            <ul class="list-unstyled">
                {% for comp in componentes %}
                    <li>
                        <input type="checkbox" name="componentes" value="{{ comp }}" class="form-check-input" id="component{{ comp }}">
                        <label class="form-check-label" for="component{{ comp }}">Componente {{ comp }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="text" name="material_descricao" class="form-control mt-2 d-none" placeholder="Descreva o material">
        </div>        
        <div class="col-md-4">
            <select name="classe" class="form-select">
                <option value="">Filtrar por Classe</option>
                {% for classe in classes %}
                    <option value="{{ classe.id }}">{{ classe.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-20 d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSort" data-bs-toggle="dropdown">
                    Ordenar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownSort">
                    <li><a class="dropdown-item" href="?order=nome_asc">Nome (A-Z)</a></li>
                    <li><a class="dropdown-item" href="?order=nome_desc">Nome (Z-A)</a></li>
                    <li><a class="dropdown-item" href="?order=nivel_asc">Nível (1-9)</a></li>
                    <li><a class="dropdown-item" href="?order=nivel_desc">Nível (9-1)</a></li>
                </ul>
            </div>
        </div>
    </div>
</form>

<!-- Exibição das magias -->
<div class="row">
    {% for magia in magias %}
    <div class="col-md-4 mb-4">
        <div class="card text-dark" style="border-color: {{ magia.escola.cor }}; box-shadow: 0 4px 8px {{ magia.escola.cor }};">
            <div class="card-body" style="background-color: {{ magia.escola.cor }}; color: {{ magia.escola.text_color }};">
                <h5 class="card-title">{{ magia.nome }}</h5>
                <h6 class="card-subtitle mb-2">
                    {% if magia.truque %}
                        Truque
                    {% else %}
                        {{ magia.nivel }}° nível {{ magia.escola.nome }} {% if magia.ritual %} (Ritual) {% endif %}
                    {% endif %}
                </h6>
                <ul class="list-unstyled">
                    <li><strong>Tempo de Conjuração:</strong> {{ magia.tempo_conjuracao }}</li>
                    <li><strong>Alcance:</strong> {{ magia.alcance }}</li>
                    <li><strong>Alvo:</strong> {{ magia.alvo }}</li>
                    <li><strong>Componentes:</strong>
                        {% for componente in magia.componentes.all %}
                            {{ componente.nome }}{% if componente.nome == 'M' and magia.material_descricao %} ({{ magia.material_descricao }}){% endif %}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    <li><strong>Duração:</strong> {{ magia.duracao }}</li>
                </ul>
                <p><strong>Classes:</strong> {{ magia.classes.all|join:", " }}</p>
                <p><strong>Descrição:</strong> {{ magia.descricao }}</p>
                <p><strong>Em Níveis Mais Altos:</strong> {{ magia.em_nivel_mais_alto }}</p>
                <p><strong>Escola:</strong> {{ magia.escola.nome }}</p>
                {% if magia.imagem %}
                <center><a href="{{ magia.imagem.url }}" class="btn mt-3" download>Baixar Carta de Magia</a></center>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!-- Controles de Paginação -->
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Exibe o botão para a primeira página -->
                {% if magias.number > 2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">&laquo; 1</a>
                    </li>
                    {% if magias.number > 3 %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                {% endif %}

                <!-- Exibe os números das páginas anteriores, atuais e próximas -->
                {% for num in magias.paginator.page_range %}
                    {% if num > magias.number|add:'-2' and num < magias.number|add:'2' %}
                        <li class="page-item {% if num == magias.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Exibe o botão para a última página -->
                {% if magias.number < magias.paginator.num_pages|add:'-1' %}
                    {% if magias.number < magias.paginator.num_pages|add:'-2' %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ magias.paginator.num_pages }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ magias.paginator.num_pages }} &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>

<!-- Scripts -->
<script>
    document.getElementById('nome').addEventListener('input', function () {
        const query = this.value;
        const suggestions = document.getElementById('suggestions');

        if (query.length > 1) { // Inicia a busca após 2 caracteres
            fetch(`/autocomplete/?term=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestions.innerHTML = ''; // Limpa as sugestões antigas

                    if (data.length > 0) {
                        suggestions.style.display = 'block'; // Mostra o elemento

                        data.forEach(item => {
                            const li = document.createElement('li');
                            li.textContent = item;
                            li.classList.add('list-group-item');
                            li.onclick = function () {
                                document.getElementById('nome').value = item;
                                suggestions.innerHTML = ''; // Limpa as sugestões ao selecionar
                                suggestions.style.display = 'none'; // Oculta o elemento
                            };
                            suggestions.appendChild(li);
                        });
                    } else {
                        suggestions.style.display = 'none'; // Oculta o elemento se não houver sugestões
                    }
                });
        } else {
            suggestions.innerHTML = ''; // Limpa as sugestões se menos de 2 caracteres
            suggestions.style.display = 'none'; // Oculta o elemento
        }
    });
    function toggleMaterialDescription() {
        const checkboxM = document.getElementById('componentM');
        const materialDescription = document.getElementById('material_descricao');
    
        if (checkboxM.checked) {
            materialDescription.classList.remove('d-none');
        } else {
            materialDescription.classList.add('d-none');
            materialDescription.value = ''; // Limpa o campo caso o checkbox seja desmarcado
        }
    }
</script>

{% endblock pagina %}